export(Match)
export(blanks)
export(fetchGenomes)
export(generateTagFiles)
export(generateTags)
export(getGaps)
export(getSNPs)
export(initProject)
export(installPackages)
export(linebreak)
export(listDirs)
export(listFilesRec)
export(repackage)
export(replaceExt)
export(shortenFastaHeaders)
export(stripExt)
export(strmatch)
export(viewMultAlign)
